@import url("https://fonts.googleapis.com/css?family=Lato:400,700%7COswald:300,400,500,700%7CRoboto:400,500%7CExo+2:600&amp;display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-Lato  dark:!text-gray-100 dark:!bg-slate-800 !bg-white ;
  }

  /* body {
    @apply dark:bg-gray-500 bg-white dark:text-white text-black
  } */
  body {
  @apply  bg-lighten dark:!text-gray-100 dark:!bg-slate-800;
  }


  h1 {
    @apply text-xl font-medium capitalize;
  }
}

.link {
  @apply p-2.5 mr-4 px-4 w-[96.7%] flex rounded-md gap-2 items-center md:cursor-pointer cursor-default duration-300 font-medium text-menuItemColor hover:text-white;
}

.link2 {
  @apply p-2.5 mr-4 px-4 w-[93.7%] flex rounded-md gap-2 items-center md:cursor-pointer cursor-default duration-300 font-medium text-menuItemColor hover:text-white;
}

.active {
  @apply text-white;
}

.menuScrollBar::-webkit-scrollbar-thumb {
  @apply rounded-md h-[35rem]
}



/* .myname{
  color:#00BCC2;
  color: #F5F7FA;
 color: #2c3032;
  color: #00BCC2;
  color: #00979C;
  color: #4AA2EE;
  color: #8A9199;
  color: #272C33;
  color: #949799;
} */


/* sidebar text(short cut) = 8A9199

when menu is dropped down = 272C33
overview color = 949799 */